<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styleIndex.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  <title>Register</title>
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="/"><img class="logo" src="/img/icono.ico" alt="Logo"></a>
    </div>
    <nav class="nav">
      <div class="nav__categorias">
        <p class="nav__categorias__ctg1">
          Categoría1
        </p>
        <p class="nav__categorias__ctg2">
          Categoría2
        </p>
      </div>
      <div class="nav__rigthDiv">
        <div class="nav__rigthDiv__submitButton">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="nav__rigthDiv__cartButton">
          <i class="fa-solid fa-cart-plus"></i>
        </div>
        <div class="nav__rigthDiv__userButton">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    </nav>
  </header>
  <main class="main">
    <div class="main__banner">
      <img src="/img/bannerPrueba.jpg" alt="Banner" class="main__banner__img">
    </div>
    <section class="section">
      <div class="section__destacados">
        <h2 class="section__destacados__h2">Productos Destacados</h2>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/camperaJeanCordero.jpg" alt="camperaJeanCordero">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Campera de Jeans Lois
            </p>
            <p class="section__productView__info__precio">
              $15.000
            </p>
          </div>
        </article>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/remeraNike.jpg" alt="remeraNike">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Remera NIKE DRI-FIT
            </p>
            <p class="section__productView__info__precio">
              $9.999
            </p>
          </div>
        </article>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/camisetaReebok.jpg" alt="camisetaReebok">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Camiseta Reebok
            </p>
            <p class="section__productView__info__precio">
              $7.999
            </p>
          </div>
        </article>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/momJeans.jpg" alt="momJeans">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Mom Jeans PIERRE BALMAIN
            </p>
            <p class="section__productView__info__precio">
              $6.999
            </p>
          </div>
        </article>
      </div>
      <div class="section__ofertas">
        <h2 class="section__ofertas__h2">Ofertas</h2>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/pantalonFila.jpg" alt="pantalonFila">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Pantalón rompe FILA
            </p>
            <p class="section__productView__info__precioOff">
              $18.000
            </p>
            <p class="section__productView__info__precio">
              $13.999
            </p>
            <p class="section__productView__info__off">
              22% OFF
            </p>
          </div>
        </article>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/camperaCuero.jpg" alt="camperaCuero">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Campera de cuero QUARRY
            </p>
            <p class="section__productView__info__precioOff">
              $35.000
            </p>
            <p class="section__productView__info__precio">
              $29.999
            </p>
            <p class="section__productView__info__off">
              14% OFF
            </p>
          </div>
        </article>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/sweaterCrop.jpg" alt="sweaterCrop">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Sweater Crop Maorí Colors
            </p>
            <p class="section__productView__info__precioOff">
              $5.000
            </p>
            <p class="section__productView__info__precio">
              $4.500
            </p>
            <p class="section__productView__info__off">
              10% OFF
            </p>
          </div>
        </article>
        <article class="section__productView">
          <div class="section__productView__img">
            <img class="section__productView__img__archivo" src="/img/hoodieBunny.jpg" alt="hoodieBunny">
          </div>
          <div class="section__productView__info">
            <p class="section__productView__info__productName">
              Hoodie Bugs Bunny
            </p>
            <p class="section__productView__info__precioOff">
              $14.999
            </p>
            <p class="section__productView__info__precio">
              $12.500
            </p>
            <p class="section__productView__info__off">
              16% OFF
            </p>
          </div>
        </article>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__presentation">
      <section class="footer__presentation__img">
        <img class="footer__presentation__img__archivo" src="/img/vintageStyle.png" alt="vintageStyle">
      </section>
      <section class="footer__presentation__info">
        <div class="footer__presentation__info__contact">
          <p class="footer__presentation__info__contact__p">Contáctanos:</p><br>
          <a class="footer__presentation__info__contact__link" href="#"><img
              class="footer__presentation__info__contact__link__icon" src="/img/instagramIcon.jpg"
              alt="instagramIcon"></a>
          <a class="footer__presentation__info__contact__link" href="#"><img
              class="footer__presentation__info__contact__link__icon" src="/img/facebookIcon.png"
              alt="facebookIcon"></a>
        </div>
      </section>
    </div>
    <section class="footer__copyrigth">
      <p class="footer__copyrigth__text">
        Copyright © 2020-2023 VClothes S.R.L.
      </p>
    </section>
  </footer>
</body>

</html>