<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styleProductCart.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  <title>Carrito</title>
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="/"><img class="logo" src="/img/icono.ico" alt="Logo"></a>
    </div>
    <nav class="nav">
      <div class="nav__categorias">
        <p class="nav__categorias__ctg1">
          Categoría1
        </p>
        <p class="nav__categorias__ctg2">
          Categoría2
        </p>
      </div>
      <div class="nav__rigthDiv">
        <div class="nav__rigthDiv__submitButton">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="nav__rigthDiv__cartButton">
          <a class="nav__rigthDiv__cartButton__link" href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="nav__rigthDiv__userButton">
          <a class="nav__rigthDiv__userButton__link" href="/login"><i class="fa-solid fa-user"></i></a>
        </div>
      </div>
    </nav>
  </header>
  <main class="main">
    <h1 class="main__h1">Carrito de Compras</h1>
    <div class="main__sections">
      <section class="main__sections__productos">
        <article class="main__sections__productos__item">
          <div class="main__sections__productos__item__img">
            <img class="main__sections__productos__item__img__archivo" src="/img/camperaJeanCordero.jpg"
              alt="camperaJeanCordero">
          </div>
          <div class="main__sections__productos__item__info">
            <p class="main__sections__productos__item__info__productName">Campera de Jeans Lois</p><br>
            <p class="main__sections__productos__item__info__productPrice">$15.000</p><br>
            <p class="main__sections__productos__item__info__productWaist">Talle:</p><br>
          </div>
        </article>
        <article class="main__sections__productos__item">
          <div class="main__sections__productos__item__img">
            <img class="main__sections__productos__item__img__archivo" src="/img/remeraNike.jpg" alt="remeraNike">
          </div>
          <div class="main__sections__productos__item__info">
            <p class="main__sections__productos__item__info__productName">Remera NIKE DRI-FIT</p><br>
            <p class="main__sections__productos__item__info__productPrice">$9.999</p><br>
            <p class="main__sections__productos__item__info__productWaist">Talle:</p><br>
          </div>
        </article>
        <article class=" main__sections__productos__item">
          <div class="main__sections__productos__item__img">
            <img class="main__sections__productos__item__img__archivo" src="/img/camisetaReebok.jpg"
              alt="camisetaReebok">
          </div>
          <div class="main__sections__productos__item__info">
            <p class="main__sections__productos__item__info__productName">Camiseta Reebok</p><br>
            <p class="main__sections__productos__item__info__productPrice">$7.999</p><br>
            <p class="main__sections__productos__item__info__productWaist">Talle:</p><br>
          </div>
        </article>
      </section>
      <section class=" main__sections__pagoTotal">
        <div class="main__sections__pagoTotal__precio">
          <p class="main__sections__pagoTotal__precio__subtotal">Subtotal: ...</p><br>
          <p class="main__sections__pagoTotal__precio__envio">Envío: ...</p><br>
          <p class="main__sections__pagoTotal__precio__total">Total: ...</p><br>
        </div>
        <div class="main__sections__pagoTotal__button">
          <a href="/" class="main__sections__pagoTotal__button__link">
            <button type="submit" class="main__sections__pagoTotal__button__link__submit">Finalizar Pedido</button>
          </a>
        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__presentation">
      <section class="footer__presentation__img">
        <img class="footer__presentation__img__archivo" src="/img/vintageStyle.png" alt="vintageStyle">
      </section>
      <section class="footer__presentation__info">
        <div class="footer__presentation__info__contact">
          <p class="footer__presentation__info__contact__p">Contáctanos:</p><br>
          <a class="footer__presentation__info__contact__link" href="#"><img
              class="footer__presentation__info__contact__link__icon" src="/img/instagramIcon.jpg"
              alt="instagramIcon"></a>
          <a class="footer__presentation__info__contact__link" href="#"><img
              class="footer__presentation__info__contact__link__icon" src="/img/facebookIcon.png"
              alt="facebookIcon"></a>
        </div>
      </section>
    </div>
    <section class="footer__copyrigth">
      <p class="footer__copyrigth__text">
        Copyright © 2020-2023 VClothes S.R.L.
      </p>
    </section>
  </footer>
</body>

</html>