body {
  font-family: 'Comfortaa', cursive;
}

/* Estilos del Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: black;
}

.header__logo {
  height: 100%;
  display: inline-block;
}

.logo {
  height: 100%;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav__categorias {
  display: flex;
  justify-content: space-between;
  width: 14em;
}

.nav__rigthDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12em;
}

.nav__categorias__ctg1 {
  color: #F5D7BD;
}

.nav__categorias__ctg2 {
  color: #F5D7BD;
}

.nav__rigthDiv__submitButton {
  color: #F5D7BD;
  font-size: 16px;
}

.nav__rigthDiv__cartButton__link {
  color: #F5D7BD;
  font-size: 16px;
}

.nav__rigthDiv__userButton {
  color: #F5D7BD;
  font-size: 16px;
  margin-right: 10px;
}

/* Estilos del Header */

/* Estilos del Main */

.main {
  background-color: #E8C9AB;
  padding-bottom: 15px;
}

.main__h1 {
  text-align: center;
  margin: auto;
  padding: 30px 0px;
}

.main__sections__productos__item {
  display: flex;
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

.main__sections__productos__item__img {
  width: 145px;
}

.main__sections__productos__item__img__archivo {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.main__sections__productos__item__info {
  margin-left: 15px;
}

.main__sections__productos__item__info__productName {
  margin-bottom: auto;
  font-size: 15px;
}

.main__sections__productos__item__info__productWaist {
  margin-bottom: auto;
  font-size: 15px;
}

.main__sections__productos__item__info__productPrice {
  margin-bottom: auto;
  font-size: 15px;
}

.main__sections__pagoTotal {
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

.main__sections__pagoTotal__precio__subtotal {
  margin-left: 10px;
  margin-bottom: auto;
  font-size: 15px;
}

.main__sections__pagoTotal__precio__envio {
  margin-left: 10px;
  margin-bottom: auto;
  font-size: 15px;
}

.main__sections__pagoTotal__precio__total {
  margin-left: 10px;
  margin-bottom: auto;
  font-size: 15px;
}

.main__sections__pagoTotal__button {
  width: 100%;
}

.main__sections__pagoTotal__button__submit {
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: #F5D7BD;
  padding: 15px;
}

/* Estilos del Main */

/* Estilos del Footer */
.footer {
  background-color: black;
  text-align: center;
  padding-bottom: 5px;
}

.footer__presentation__img__archivo {
  width: 100%;
  height: 100%;
}

.footer__presentation__info {
  color: #F5D7BD;
}

.footer__presentation__info__contact__p {
  margin-bottom: 0px;
}

.footer__presentation__info__contact__link {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.footer__presentation__info__contact__link__icon {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.footer__copyrigth {
  color: #F5D7BD;
}

/* Estilos del Footer */

/* Media Queries */
@media (min-width: 481px) {

  /* Estilos del Footer */
  .footer__presentation {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
  }

  .footer__presentation__info {
    display: inline-block;
  }

  .footer__presentation__img {
    display: inline-block;
    width: 50%;
  }

  /* Estilos del Footer */
}

@media (min-width: 769px) {

  /* Estilos del Main */
  .main__sections {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main__sections__productos {
    width: 63em;
  }

  .main__sections__pagoTotal {
    width: 58em;
  }

  /* Estilos del Main */

  /* Estilos del Footer */
  .footer__presentation__img {
    width: 30em;
  }

  .footer__presentation__info__contact__link {
    width: 70px;
    height: 70px;
  }

  .footer__presentation__info__contact__p {
    font-size: 25px;
  }

  /* Estilos del Footer */
}

@media (min-width: 1280px) {

  /* Estilos del Main */
  .main__sections {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  /* Estilos del Main */
}

/* Media Queries */