<footer class="footer">
    <div class="footer__presentation">
      <section class="footer__presentation__img">
        <img class="footer__presentation__img__archivo" src="/img/vintageStyle.png" alt="vintageStyle">
      </section>
      <section class="footer__presentation__info">
        <div class="footer__presentation__info__contact">
          <p class="footer__presentation__info__contact__p">Contáctanos:</p><br>
          <a class="footer__presentation__info__contact__link" href="#"><img
              class="footer__presentation__info__contact__link__icon" src="/img/instagramIcon.jpg"
              alt="instagramIcon"></a>
          <a class="footer__presentation__info__contact__link" href="#"><img
              class="footer__presentation__info__contact__link__icon" src="/img/facebookIcon.png"
              alt="facebookIcon"></a>
        </div>
      </section>
    </div>
    <section class="footer__copyrigth">
      <p class="footer__copyrigth__text">
        Copyright © 2020-2023 VClothes S.R.L.
      </p>
    </section>
  </footer>