<header class="header">
    <div class="header__logo">
      <a href="/"><img class="logo" src="/img/icono.ico" alt="Logo"></a>
    </div>
    <nav class="nav">
      <div class="nav__categorias">
        <p class="nav__categorias__ctg1">
          DESTACADOS
        </p>
        <p class="nav__categorias__ctg2">
          OFERTAS
        </p>
        <% if (locals.isLogged) { %>
          <a href="/create">
            <p class="nav__categorias__ctg2">
              AGREGAR PRODUCTO
            </p>
          </a>
        <% } %>
      </div>
      
      <div class="nav__rigthDiv">
        <div class="nav__rigthDiv__submitButton">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="nav__rigthDiv__cartButton">
          <a class="nav__rigthDiv__cartButton__link" href="/products/productCart"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="nav__rigthDiv__userButton">
          <a class="nav__rigthDiv__userButton__link" href="/login"><i class="fa-solid fa-user"></i></a>
        </div>
        <% if(locals.isLogged){ %>
          <a href="/logout" style="color: white;">salir</a>
        <% } %>  
      </div>
    </nav>
  </header>