<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>login</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <nav class="nav2">
          <form action="/login" method="POST" id="form">
            <h2 class="h2-nav">Iniciar Sesión</h2>
            <p class="p-nav">Por favor ingrese su correo y contraseña</p>
            <input class="input-form" type="email" name="email" id="email" placeholder="Correo" required>
            <% if (locals.errors && errors.email){ %>
                <%= errors.email.msg %>
            <% } %>
            <input class="input-form" type="password" name="password" id="password" placeholder="Contraseña" required>
            <button type="submit" class="buy-now-button" style="width: 150px; margin: auto; margin-bottom: 1rem;">ingresar</button>
          </form>
          <a class="a-crear-cuenta" href="/register">Crear Cuenta</a>
          <a class="a-recuperar-cuenta" href="#">¿Olvidaste tu contraseña?</a>
        </nav>
      </main>

    <%- include('../partials/footer.ejs') %>

    <script src="scripts/login.js"></script>
</body>
</html>