<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <nav class="nav2">
          <% if(locals.errors){ %> 
            <% for(let error in errors) {%>
              <p><%= errors[error].msg %></p>
            <% } %>
          <% }%>
          <form action="/register" method="POST" enctype="multipart/form-data">
            <h2 class="h2-nav">Regístrate</h2>
            <p class="p-nav">Por favor ingrese su nombre, correo y contraseña</p>
            <label for="name">NOMBRE</label>
              <input class="input-form" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
              <label for="email">email</label>
              <input class="input-form" type="email" name="email" id="email" placeholder="Correo" required>
              <label for="password">password</label>
              <input class="input-form" type="password" name="password" id="password" placeholder="Contraseña" required>       
              <label for="profile">perfil</label>
              <input class="input-form" type="file" name="profile" id="" accept=".jpg" >
              <button type="submit" class="buy-now-button">Guardar</button>
          </form>
        </nav>
      </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>